servcon/SERVCONWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.fmc.gov/ServconWebServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.fmc.gov/ServconWebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.fmc.gov/ServconWebServices/">
      <s:element name="FileContract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrgNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AmdNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EffDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileContractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileContractResult" type="tns:ServiceContractFiling" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceContractFiling">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrgNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AmdNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FMCNum" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EffDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmNum" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="errCodeUserName" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="errCodeOrgNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="errCodeConNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="errCodeAmdNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="errCodeEffDate" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="errCodeFile" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsgUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsgOrgNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsgConNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsgAmdNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsgEffDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMsgFile" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FileCorrectedCopy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldOrgNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldConNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newOrgNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newConNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="changeFlag" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AmdNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileCorrectedCopyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileCorrectedCopyResult" type="tns:ServiceContractFiling" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FileContractSoapIn">
    <wsdl:part name="parameters" element="tns:FileContract" />
  </wsdl:message>
  <wsdl:message name="FileContractSoapOut">
    <wsdl:part name="parameters" element="tns:FileContractResponse" />
  </wsdl:message>
  <wsdl:message name="FileCorrectedCopySoapIn">
    <wsdl:part name="parameters" element="tns:FileCorrectedCopy" />
  </wsdl:message>
  <wsdl:message name="FileCorrectedCopySoapOut">
    <wsdl:part name="parameters" element="tns:FileCorrectedCopyResponse" />
  </wsdl:message>
  <wsdl:portType name="SERVCONWebServiceSoap">
    <wsdl:operation name="FileContract">
      <wsdl:input message="tns:FileContractSoapIn" />
      <wsdl:output message="tns:FileContractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FileCorrectedCopy">
      <wsdl:input message="tns:FileCorrectedCopySoapIn" />
      <wsdl:output message="tns:FileCorrectedCopySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SERVCONWebServiceSoap" type="tns:SERVCONWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileContract">
      <soap:operation soapAction="http://www.fmc.gov/ServconWebServices/FileContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileCorrectedCopy">
      <soap:operation soapAction="http://www.fmc.gov/ServconWebServices/FileCorrectedCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SERVCONWebServiceSoap12" type="tns:SERVCONWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileContract">
      <soap12:operation soapAction="http://www.fmc.gov/ServconWebServices/FileContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FileCorrectedCopy">
      <soap12:operation soapAction="http://www.fmc.gov/ServconWebServices/FileCorrectedCopy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SERVCONWebService">
    <wsdl:port name="SERVCONWebServiceSoap" binding="tns:SERVCONWebServiceSoap">
      <soap:address location="https://servconwebservicetest.fmc.gov/SERVCONWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="SERVCONWebServiceSoap12" binding="tns:SERVCONWebServiceSoap12">
      <soap12:address location="https://servconwebservicetest.fmc.gov/SERVCONWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>